html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    @apply font-text tracking-wider;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading tracking-widest;
}

.text {
    @apply font-thin leading-7;
}


.section{
    @apply first-of-type:py-16 md:first-of-type:py-24 py-8 md:py-12 last-of-type:pb-8 md:last-of-type:pb-24 mx-auto
}






//content
.description h2, .content h2{
    @apply text-5xl font-bold mt-8 mb-2
}

.description h3, .content h3{
    @apply text-3xl font-bold mt-8 mb-2
}

.description p, .content p {
    @apply text
}

.description strong,.content strong{
    @apply font-bold
}

.description ul{
    list-style-type: square;
    @apply text mt-4 list-inside lg:list-outside
}
.content ul{
    list-style-type: square;
    @apply text mt-4 list-inside mb-6
}

.description ul li, .content ul li {
    @apply mt-2
}

